# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets and environment configurations
.env
**/.env

